<!-- //templates/edit.html -->
{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/update__Disponibilidad/{{employee_Disponibilidad.ID}}" method="POST">
                <div class="form-group">
                    <label for="">Hora Inicio</label>
                    <input type="datetime" name="Hora_Inicio" value="{{employee_Disponibilidad.Hora_Inicial}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Hora Final</label>
                    <input type="datetime" name="Hora_Final" value="{{employee_Disponibilidad.Hora_Final}}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}